@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

body {
  font-family: 'Source Sans Pro', sans-serif;
  line-height: 1.8;
  /* color: #f5f6f7; */
}

p {font-size: 16px;}

.bg-1 { 
  background-color: #1abc9c; /* Green */
   color: #ffffff;
}

.bg-2 { 
  background-color: #474e5d; /* Dark Blue */
  color: #ffffff;
}
.bg-signup { 
  background-color: #1abc9c; /* Green */
  color: #ffffff;
}
.container-fluid {
  padding-top: 70px;
  padding-bottom: 70px;
  padding-left: 50px;
  padding-right: 50px;
}

.margin {margin-bottom: 45px;}

/* navbar */
.navbar {
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  font-size: 20px;
  /* letter-spacing: 5px; */
}

.navbar-nav li a:hover {
  color: #19BC9C !important;
}

/* footer */
.bg-footer { 
  background-color: #2f2f2f;
  color: #ffffff;
}
.my-footer{
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 50px;
  padding-right: 50px;
}

/* Login modal */


input[type=text], input[type=password] {
  /* width: 20%;
  padding: 12px 20px;
  margin: 8px 0; */
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  color: black;
}

.myButton:hover {
  opacity: 0.8;
}

.myAlert{
  width: 200px;
  z-index: 2;
  position: absolute;
  top: 14%;
  left: 20px;
  right: 20px;
  border: 1px solid black;
}

.applyButton{
  background-color: #F8F8F8;
  color: #777777;
  border: 0;
  border-radius: 2px;
}
.applyButton:hover {
  color: #19BC9C;
  opacity: 0.8;
}

.container {
  padding: 16px;
  color: black;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; 
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0); /* Black w/ opacity */
  padding-top:20px;
  padding-left: 200px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #ECE7E7;
  /* margin: 5% auto 15% auto; 5% from the top, 15% from the bottom and centered */
  margin-top:4%;
  border: 1px solid #888;
  position: fixed;
  right: 0px;
  /* width: 80%; Could be more or less, depending on screen size */
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

/* signup form */
.error{
  color: red;
}